#Header {
    border:solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid px black;
    text-align: center;
}
#LeftNav {
    border:solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
}
#Content {
    border:solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 700px;
    text-align: center;
    padding: 15px;
}
#Footer {
    border:solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
#Header h1{ 
    font-size: 60px;
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold; 
}
p {
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#LeftNav h3{ 
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One"; 
    margin-bottom: 0px; 
}
div {
    background-color: #8e41d5;
}
body {
   background-image: url('dark_wood.png');
}
a {
    color: white;
    font-weight: bold;
    font-size:  24px;
}